<!DOCTYPE html>
<html>
  <head>
    <title>Emerald</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= vite_client_tag %>
    <%=
      # vite_ruby installs this but it's broken as of 2024-02-08
      # only needed if you want to use importmaps rather than npm packages
      #javascript_importmap_tags
    %>
    <%= vite_javascript_tag 'application' %>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
